body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    left: 0px;
    top: 0px;
    background-image: url("/Assets/oldschoolTable - Copy.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

.headerbar {
    width: 100%;
    display: block;
    background: #B56712;
    background: linear-gradient(to right, #B56712 0%, #FFCB29 50%, #B56712 100%);
    text-align: center;
}

.pageTitle {
    font-size: 70px;
    font-family: verdana;
    text-align: center;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
    color: #FFFFFF;
}

.pageContainer {
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    min-height: 50%;
    border-radius: 25px;
    box-shadow: 8px 8px 35px 5px rgba(0,0,0,0.75);
    background-image: url("/Assets/cardboard_texture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subHeading {
    font-size: 40px;
    font-family: verdana;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
    text-align: center;
}

.firstNameInstructions {
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
}

.lastNameinstructions {
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
}

.textboxInput {
    border-style: inset;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:x-large;
}

.errorMessage {
    font-size: 30px;
    font-family: verdana;
    color: tomato;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
}

.button {
    position: fixed;
    background-color: #4CAF50;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 15px;
}

    .button:hover {
        box-shadow: 8px 8px 35px 5px rgba(0,0,0,0.75);
    }


img {
    border-radius: 25px;
}
/*.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #aaa;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #aaa;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #aaa;
    color: #fff;
    background-color: #f38630;
}

.tg .tg-ss8h {
    background-color: #FCFBE3;
    font-size: 18px;
    text-align: right;
    vertical-align: top
}

.tg .tg-1bic {
    background-color: #FCFBE3;
    font-size: 18px;
    text-align: left;
    vertical-align: top
}

.tg .tg-wnax {
    font-size: 24px;
    text-align: right;
    vertical-align: top
}

.tg .tg-n0m6 {
    font-size: 18px;
    text-align: right;
    vertical-align: top
}

.tg .tg-nx8p {
    font-size: 18px;
    text-align: left;
    vertical-align: top
}*/