body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    left: 0px;
    top: 0px;
    background-image: url("/Assets/oldschoolTable - Copy.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

.headerbar {
    width: 100%;
    display: block;
    background: #B56712;
    background: linear-gradient(to right, #B56712 0%, #FFCB29 50%, #B56712 100%);
    text-align: center;
}

.pageTitle {
    font-size: 70px;
    font-family: verdana;
    text-align: center;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
    color: #FFFFFF;
}

.pageContainer {
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    min-height: 50%;
    border-radius: 25px;
    box-shadow: 8px 8px 35px 5px rgba(0,0,0,0.75);
    background-image: url("/Assets/cardboard_texture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subHeading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-family: verdana;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
    text-align: center;
}

.firstNameInstructions {
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
}

.lastNameinstructions {
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
}

.textboxInput {
    border-style: inset;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:x-large;
}

.errorMessage {
    font-size: 30px;
    font-family: verdana;
    color: tomato;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 15px;
}

    .button:hover {
        box-shadow: 8px 8px 35px 5px rgba(0,0,0,0.75);
    }


.ingrediants {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 24px;
    font-family: verdana;
    color: #FFFFFF;
}

.tableHeader {
    font-size: 30px;
    font-family: verdana;
    color: #FFFFFF;
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #282c34;
    background-color: #4CAF50;
}

#customizePizza tr:hover {
    background-color: #4CAF50;
}


.priceLabel {
    font-family: Verdana;
    padding: 5px;
    text-align: left;
    font-size: 24px;
    color: #282c34;
}

.pizzaPrice {
    text-align: left;
    font-size: 24px;
    font-family: verdana;
    color: orangered;
}

img {
    border-radius: 25px;
}